* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rajdhani', sans-serif;
  font-size: 1.5em;
}

a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
}

/* nav styles */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
}

.logo {
  font-size: 1.8rem;
  color: rgb(0, 47, 108);
  padding-left: 20px;
}

.hamburger {
  padding-right: 20px;
  cursor: pointer;
}

.hamburger .line{
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: black;
}

/* animate hamburger */

/* rotate the first line to form x */
@keyframes rotateTop{
  0%{
    transform: translateY(0%) rotate(0deg);
  }
  100%{
    transform: translateY(300%) rotate(45deg);
  }
}

/* rotate the last line to for x */
@keyframes rotateBottom{
  0%{
    transform: translateY(0%) rotate(0deg);
  }
  100%{
    transform: translateY(-300%) rotate(-45deg);;
  }
}


@keyframes reduceOpacity{
  0%{
    opacity: 100%;
  }
  100%{
    opacity: 0%;
  }
}


.handle-one{
	animation: rotateTop 0.3s ease-in;
	background-color: yellow;
	transform: translateY(300%) rotate(45deg);
}

.handle-three{
	animation: rotateBottom 0.3s ease-in;
	background-color: yellow;
	transform: translateY(-300%) rotate(-45deg);
}

.handle-two{
	animation: reduceOpacity 0.3 ease-in;
	opacity: 0%;
}


/* rotate the first line to form x */
@keyframes reverseRotateTop{
  0%{
    transform: translateY(300%) rotate(45deg);
  }
  100%{
    transform: translateY(0%) rotate(0deg);
  }
}

/* rotate the last line to for x */
@keyframes reverseRotateBottom{
  0%{
    transform: translateY(-300%) rotate(-45deg);
  }
  100%{
    transform: translateY(0%) rotate(0deg);
  }
}


@keyframes addOpacity{
  0%{
    opacity: 0%;
  }
  100%{
    opacity: 100%;
  }
}


.reverse-handle-one{
	animation: reverseRotateTop 0.3s ease-out;
	background-color: yellow;
	transform: translateY(0%) rotate(0deg);
}

.reverse-handle-three{
	animation: reverseRotateBottom 0.3s ease-out;
  background-color: yellow;
  transform: translateY(0%) rotate(0deg);
}

.reverse-handle-two{
	animation: addOpacity 0.2s ease-out;
	opacity: 100%;
}



/* end animate hamburger */


/* Animate Mobile Nav */
@keyframes expandNav{
  0%{
    height: 0%;
  }
  100%{
    height: inherit;
  }
}

/* End animate Mobile Nav */

.nav-link {
  animation: expandNav 0.3s linear;
  height: inherit;
  position: fixed;
  width: 100%;
  top: 4rem;
  opacity: 0.8;
  border-radius: 4px;
  z-index: 5;
}

.nav-link a {
  animation: addOpacity 0.3s ease-in;
  display: block;
  text-align: center;
  padding: 10px 0;
}

.nav-link a:hover {
  background-color: lightcoral;
}

.hide {
  display: none;
}



/* side bar */


.side-bar{
  background-color: #ccc;
  width: 300px;
  height: 100vh;
  position: fixed;
  z-index: 1;
  top: 64px;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  border-top-right-radius: 5px;

}

::-webkit-scrollbar {
  width: 10px;
}
  ::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
  ::-webkit-scrollbar-thumb {
  background: #888; 
    border-radius:10px;
}
::-webkit-scrollbar-thumb:hover {
  
  background: #555; 
} 

/* end side bar */


/* main section */
/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

.wrapper{
	display: flex;
  margin-left: 20px;
	flex-direction: column;
}

main{
  font-family: 'Mali', cursive;
  font-size: 1.5em;
  flex: 70%;
  padding: 20px;
}

.right-side{
	flex: 30%;
	background-color: #2d2e2e;
  color: #fcfcfc;
  padding: 20px;
  border-radius: 4px;
}

/* end of Main section */



/* Left side */
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* List of Bible Verses */
.bible-books-list{
    margin: 10px 20px;
}

.bible-books-list li{
    list-style: none;
    line-height: 1.5em;
    font-weight: bold;
    color: rgb(0, 47, 108);
}

ul{
    
}

li{
    
}





/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* end of left side*/


/* Beginning of side hamburger */

/* collapse and  display side bar */

.side-hamburger{
  background-color: #ccc;
  padding: 4px;
  width: 40px;
  height: 40px;
  border-radius:50%;
  display: grid;
  place-items: center;
  border: 0.05px #000 solid;
  position: fixed;
  top: 120;
  right: 20px;
  z-index: 2;
}

.side-hamburger span{
  background-color: black;
  padding: 0px;
  margin: 0px;
  height: 4px;
  width: 24px;
}

/* End of side hamburger */


/* beginning of footer */
.footer {
  bottom:0;
  left:0;
  width:100%;
  height: 50px;
  text-align: center;
  font-size: 1.5em;
  padding: 10px 0px;
  background-color: #D0DAEE;
}

}
/* end of footer */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


 @media only screen and (max-width: 768px) {
  body{
    background-color: red;
  }
}

/* Media Queries for devices with screen width greater than 600px */
@media only screen and (min-width: 600px) {
  .nav-link {
    display: block;
    position: static;
    width: auto;
    margin-right: 20px;
  }

  .nav-link a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger{
    display: none;
  }
}


@media screen and (min-width: 800px){
  body{
    /*background-color: mediumpurple;*/
  }

  .side-hamburger{
    background-color: #brown;
    padding: 4px;
    width: 40px;
    height: 40px;
    border-radius:50%;
    display: grid;
    place-items: center;
    border: 0.05px #000 solid;
    position: relative;
    top: 1;
    right: 20px;
    z-index: 2;
  }

  .wrapper{
    display: flex;
    flex-direction: row;
    margin-left: 320px;
  }
  
  .right-side{
    flex: 25%;
  }

  main{
    flex: 75%;
  }


  .side-hamburger{
    display: none;
  }

}
